@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
      @apply text-white bg-black;
      font-family: 'Open Sans', sans-serif;
      line-height: 175%;
  }
}

@layer utilities {
  .tool-bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: black;
  }
}

@layer utilities {
  .link {
    @apply relative
  }
  .link::after {
    @apply content-[''] bg-primary h-[2px] w-0 left-0 -bottom-0 rounded-xl absolute duration-300
  }
  .link:hover::after {
    @apply w-full
  }
}